.charecter{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #000000, #100c0e, #191518, #201c21, #2c2e39, #314250, #345962, #3f6f6c);
}